html{
    scroll-behavior: smooth;
}
body{
    background-color: #632C83;
}

#navbars{
    background-color: #401957;
}

#navtitle{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#home{
    height: 100vh;
    background-color: #632C83;
}

#paralax{
    margin-top: 50px;
}
.scene .bg-img{
    width: 110%;
}

#homebutton{
    color: #8952A9;
    font-family: 'Open Sans', sans-serif;
}

#title{
    color: white;
    margin-top: 70px;
    font-family: 'Segoe UI', sans-serif;
}

#title .mb-4{
    text-shadow: 0px 2px 3px black;
}

#title .mt-5{
    text-shadow: 0px 2px 3px black;
}

#whatis{
    background-image: url("../asset/ryzen.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#game{
    height: 100vh;
}

#pricing{
    height: 100vh;
    background-color: #632C83;
    color: white;
}

#contact{
    height: 100vh;
}